*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    background-color: blue;
}
.nav {
    display: flex;
}
 nav, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
nav ul li {
    list-style-type: none;
    color: white;
}


